.Editor {
    display: flex;
    position: fixed;

    padding: 1rem;
    height: calc(82vh - 10px);
    width: 85vw;
    max-width: 575px;
    margin: 0 auto;

    top: 4vh;
    right: 0px;
    left: 0px;

    z-index: 5;
    background-color: #fef68a;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

    .close-editor-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        height: 25px;
        width: 25px;

        top: -11px;
        right: -11px;

        border-radius: 50%;
        background-color: black;
    }
        .close-editor-button:hover {
            cursor: pointer;
            outline: 1px solid rgb(255, 0, 0);
        }

        .close-editor-icon {
            color: white; 
            height: 17px;
            width: 17px;
            stroke-width: 1.2;
        }


