.note-main-area {
    position: relative;
    height: 275px;
    width: 100%;
    margin-bottom: 0;
}

.note-text-area {
    height: 275px;
    width: 100%;
    padding: 1em;
    margin-bottom: 0;
    font-size: 14px;
    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fef68a;
    border-radius: 10px;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
}
    .note-text-area:hover {
        outline: 1px solid red;
    }

    pre:first-child {
        margin-top: 0;
    }

    p, h1, h2, h3, h4, ol, ul {
        margin: 0;
    }
    
    .note-text-area > th, tr, td {
        border: 1px solid black;
        overflow-wrap: break-word;
    }
    
    .note-text-area > table, .note-text-area > figure > table {
        margin: 0;
        border-collapse: collapse;
        overflow-wrap: break-word;
    }

    .note-text-area > figure.image {
        padding: 0;
        margin: 0;
        margin-block: 0;
        margin-inline: 0;
    }

    .note-text-area > figure.image-style-side {
        float: right;
    }

    .note-text-area > figure.image-style-center {
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .note-text-area > figure > img { 
        width: 100%;
        max-width: 100%;
    }

    .note-text-area > p > img { 
        max-width: 100%;
    }

    .note-text-area > blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

        .note-text-area > blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

        .note-text-area > blockquote p {
            display: inline;
        }

        .note-text-area > ol {
            padding: 0;
            padding-left: 1em;
        }

        .note-text-area > ul.normal-ul-list {
            padding: 0;
            padding-left: 1em;
        }

        .note-text-area > ul.todo-list {
            padding: 0;
        }

        .note-text-area > ul.todo-list > li {
            list-style: none;
        }

.note-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .note-title {
        display: -webkit-box;
        max-width: 100%;
        margin: 13px 0 0 0;

        overflow-wrap: break-word;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        text-align: center;
    }

    .note-date {
        margin: 5px 0 0 0;
        font-weight: 400;
        color: rgb(173, 173, 173);
    }
    