.note-main-area {
    padding: 1rem;
    height: 250px;
    overflow-wrap: break-word;
    overflow: auto;

    background-color: #fef68a;
    border-radius: 10px;
}

.note-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .note-title {
        margin: 10px 0 0;
    }

    .note-date {
        font-weight: 400;
        color: rgb(173, 173, 173);
        margin: 5px 0 0;
    }

::-webkit-scrollbar {
    width: 10px;
}

 
::-webkit-scrollbar-thumb {
    background: url('https://www.svgimages.com/svg-image/s9/scroll-bar-arrows-256x256.png');
    background: #cecece;
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.557);
}

::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc; 
}