.note-main-area {
    height: 250px;
    width: 100%;
    padding: 1em;
    margin-bottom: 0;
    font-size: 14px;
    
    resize: none;
    border: none;
    box-sizing: border-box;
    outline: none;

    font-family: 'Roboto', sans-serif;
    background-color: #fef68a;
    border-radius: 10px;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
}
    .note-main-area:hover {
        outline: 1px solid red;
    }

    p, h1, h2, h3, h4, ol, ul {
        margin: 0;
    }
    
    .note-main-area > th, tr, td {
        border: 1px solid black;
    }
    
    table {
        margin: 0;
        border-collapse: collapse;
    }

.note-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .note-title {
        display: -webkit-box;
        max-width: 100%;
        margin: 13px 0 0 0;

        overflow-wrap: break-word;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        text-align: center;
    }

    .note-date {
        margin: 5px 0 0 0;
        font-weight: 400;
        color: rgb(173, 173, 173);
    }