.FormatToolbar {
    position: absolute;
    width: fit-content;

    top: 57px;
    left: 14.5px;

    outline: 2px solid #767676;
    border-radius: 10px;
}

    .FormatToolbar > button {
        padding: 5.5px;
        margin: 0;
        line-height: 0;
        background-color: #ffffff;
        border: none;
    }
        .FormatToolbar > button:hover {
            background-color: #e5e5e5;
            cursor: pointer;
        }
        .FormatToolbar > button:active {
            background-color: #f0f0f0;
        }
        .FormatToolbar > button:first-child {
            border-radius: 10px 0 0 10px;
        }
        .FormatToolbar > button:last-child {
            border-radius: 0 10px 10px 0;
        }