.Editor {
    display: flex;
    position: fixed;

    padding: 1rem;
    height: calc(82vh - 10px);
    width: 85vw;
    max-width: 575px;
    margin: 0 auto;

    top: 4vh;
    right: 15px;
    left: 15px;

    z-index: 2;
    background-color: #A3F2A2;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}