.FormatToolbar {
    position: absolute;
    width: fit-content;

    top: 5px;
    left: 5px;

    border: 1.5px solid #767676;
    border-radius: 10px;
    background-color: #f0f0f0;
}

    .FormatToolbar > button {
        padding: 4px;
        margin: 0;
        line-height: 0;
        border: none;
    }

        .FormatToolbar > button:hover {
            background-color: #e5e5e5;
        }

        .FormatToolbar > button:active {
            background-color: #f0f0f0;
        }
    
    button:first-child {
        border-radius: 10px 0 0 10px;
    }

    button:last-child {
        border-radius: 0 10px 10px 0;
    }