body {
	font-family: 'Roboto', sans-serif;
}

.main-cont {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

::-webkit-scrollbar {
	width: 10px;
}

	::-webkit-scrollbar-thumb {
		background: url('https://www.svgimages.com/svg-image/s9/scroll-bar-arrows-256x256.png');
		background: #cecece;
		border-radius: 10px; 
		border: 1px solid rgba(255, 255, 255, 0.557);
	}
		::-webkit-scrollbar-thumb:hover {
			background: #bcbcbc; 
		}